<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Hexadecimal and Rgb Converter</title>
</head>
<body>
        <header id="header">
            <div id="header-item-1">
                <p style="color: gray;" >
                    Developed <br>
                    by: <br>
                    <a id="link-conta" href="https://github.com/RubensRafael">Rubens Rafael.</a> 
                </p>
            </div>
            <div id="header-item-2">
                
                <img src="image/logo.svg">
            </div>
            <div id="header-item-3">
                <img src="./image/GitHub-Mark-32px.png" width="32" height="32" alt="">
                <a id="link-projeto" href="https://github.com/RubensRafael/ColorConverter.git"><p>GitHub repositorie</p></a>
            </div>
        </header>
        <main>
            <div id="hex-to-rgb" class="box box-responsive">
                <p style="display: inline;"> <b>HEX to RGB</b>  </p>
                <div :style="{backgroundColor:setBackground}" id="a-colorbox" class="a colorbox">
                </div>
                <div id="a-setcolor" class="a">
                    
                    <label for="hextext-input">COLOR:</label>
                    <input :style="hexTextStyle" v-model="color" id="hextext-input" maxlength="7" type="text">
                    
                    <label for="hexalpha-input" id="alpha-label">ALPHA:</label>
                    <input v-model.number="alpha" id="hexalpha-input" type="range" value="100">
                </div>
                <textarea :value="rgbResult" disabled name="" id="a-display" class="a display" cols="80" rows="3">
                    
                </textarea>
            </div>

            <div id="rgb-to-hex" class="box box-responsive">
                <p style="display: inline;"> <b>RGB to HEX</b>  </p>
                <div :style="{backgroundColor:setBackground}" id="b-colorbox" class="b colorbox"></div>
                <div id="b-setcolor" class="b">
                    <div>
                        <label class="rgblabel" for="rgb-red-input">RED:<p :style="redLabelStyle">{{red}}</p></label>
                        <input v-model="red"  :title="red" id="rgb-red-input" max="255" min="0" type="range">
                    </div>

                    <div>
                        <label class="rgblabel" for="rgb-green-input">GREEN:<p :style="greenLabelStyle">{{green}}</p></label>
                        <input v-model="green"  :title="green" id="rgb-green-input" max="255" min="0" type="range">
                    </div>
                    <div>
                        <label class="rgblabel" for="rgb-blue-input">BLUE:<p :style="blueLabelStyle">{{blue}}</p></label>
                        <input v-model="blue"  :title="blue" id="rgb-blue-input" max="255" min="0" type="range">
                    </div>
                </div>
                <textarea :value="hexResult" disabled name="" id="b-display" class="b display" cols="80" rows="3">
                    
                </textarea>
            </div>
        </main>
        


    <script src="https://unpkg.com/vue@3.2.29"></script>
    <script src="vue.js" ></script>
    
    <script>
        function rgbTitle(e){
            e.title = e.value
        }
    </script>

    
</body>
</html>