*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    
}

#header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid orange;
    align-items: center;
    width: 100%;
}

#header-item-3{
   text-align: center;
}
#header-item-2{
    
    width: 12%
}



main{
    display: flex;
    justify-content: space-around;
    height: 50vh;
    margin-top: calc(25vh - 59px);
    width: 100%;
}

.box{
    display: flex;
    flex-direction: column;
    border: solid 1px brown;
    justify-content: space-around;
    text-align: center;
    padding: 7px;
    flex: 1 1 1
}

.colorbox{
    height: 33%;
    margin-left: 33%;
    margin-right: 33%;
    background-color: black;
    border-radius: 10%;
    
}

.display{
    
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 1%;
    resize: none;
    text-align: center;
    vertical-align: middle;
    
    
}

#link-conta{
    color: gray;
}

#link-projeto{
    color: black;
}

@media (max-width: 991.98px) {
    main{
        flex-wrap: wrap;
        height: 100vh;
        
    }
    .box-responsive{
        height: 50vh;
        margin-bottom: 10%;
        flex: 1 1 1
    }
    #header-item-2{
    
        width: 20%
    }
    
}



@media (max-width: 500px) {
  .box {
    width: 300px;
    flex: 1 1 100%;
  }
  #a-setcolor,
  #b-setcolor {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
  }

  label {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #hexcolor-input {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}



