*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    
}
body{
    min-width:  416px;
}
#header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid orange;
    align-items: center;
    width: 100%;
    height: 10vh;
    min-height: 70px;
    margin-bottom : 10px;
}

#header-item-3{
   text-align: center;
}
#header-item-2{
    
    width: 12%
}



main{
    display: flex;
    justify-content: space-around;
    height: 90vh;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    display: flex;
    flex-direction: column;
    border: solid 1px brown;
    justify-content: space-around;
    text-align: center;
    padding: 7px;
    height: 50vh;
    width: 50%;
}

.colorbox{
    height: 33%;
    margin-left: 33%;
    margin-right: 33%;
    background-color: black;
    border-radius: 10%;
    
}

.display{
    
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 1%;
    resize: none;
    text-align: center;
    vertical-align: middle;
    
    
}

#b-setcolor{
    display:  flex;
    flex-wrap: wrap;
    justify-content:center;
}

#link-conta{
    color: gray;
}

#link-projeto{
    color: black;
}





@media (max-width: 500px) {
  .box {
    width: 300px;
    flex: 1 1 100%;
  }
  #a-setcolor,
  #b-setcolor {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
  }

  label {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #hexcolor-input {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
   #header-item-2{
        width: 30%;
    }
}


@media (min-width: 2560px) {
    .box{
        height: 30vh;
    }
}
@media (max-width: 768px) {
    .box{
        flex-basis: 100%;
    }
}



   



